body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	background-color: #edeef3;
	margin: 0 }
	
#header {
	background-color: #e4e6ed;
	text-align: left;
	padding-top: 10px;
	position: relative;
	top: 20px;
	width: 100%;
	border-top: 1px solid #c4c4d5;
	border-bottom: 1px solid white }
	
#logo {
	position: relative; 
	margin-left: 180px }
	
	
#page {
	font-size: .75em;
	line-height: 150%;
	text-align: left;
	margin-top: 50px;
	margin-right: 100px;
	margin-left: 250px;
	position: relative;
	width: auto }

#security-announce {
	border: 1px solid #c00;
	color: #c00;
	padding: 5px;
}

tr,td {font-size: 1em;
	line-height: 150%;
	text-align: left;
	background-color: #e4e6ed;
	padding: 4px }
	
pre, tt { font-size: 1.3em; 
	color: #088;
	letter-spacing: 1px;
	word-spacing: 2px}
	
h1 {
	color: #c00;
	font-size: medium;
	margin-bottom: 2em;
	margin-left: -4em }
	
h2 {
	color: #324e95;
	font-size: small;
	margin-top: 2em;
	margin-left: -4em }
	

footer { margin-left: -4.33em }

dt { font-weight: bold }
	
ul {
	list-style-image: url(images/arrow.png) }
	
ul li {
	background-color: #e4e6ed;
	margin: 1em 6em 1em -2em;
	padding: 0.2em 0.5em 0.2em 1em;
	border-style: solid;
	border-width: 1px;
	border-color: #c4c4d5 #fff #fff #c4c4d5 }
	
a:link {
	color: #324e95;
	text-decoration: none;
	background-color: transparent }
	
a:visited {
	color: #90c;
	text-decoration: none }
	
a:hover {
	color: #c00;
	text-decoration: underline;
	background-color: transparent }
